/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: black;
  color: white;
}

.seperation{
    border: 3px solid rgb(54, 54, 54);
}

.main{
    background-image: url("./assets/banner.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box{
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 644px;
    opacity: 0.6;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 60vw;
  margin: auto;
}

.nav button{
    position: relative;
    z-index: 10;
}

.nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}

.btn {
  padding: 3px 8px;
  background-color: rgba(248, 243, 243, 0.021);
  color: white;
  border: 1px solid white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s;
}

.btn-red {
  background-color: red;
}

.btn:hover {
  background-color: red;
}

.btn-red:hover {
  background-color: rgba(248, 243, 243, 0.021);
}

.hero{
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0 30px;
    height: calc(100% - 100px);
    
}

.box-title{
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

.box-desc{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.box-bottom{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.hero-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.hero-buttons input{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
}
.hero-buttons button{
    padding: 8px 24px;
    font-size: 18px;
}

.info-area{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 80px;
    right: 60px;
    
}

.info-area h1{
    font-size: 48px;
    font-weight: bolder;
}

.info-area p{
    font-size: 24px;
    margin-top: 10px;
}

/* faq */

.faq{
    padding: 35px;

}


.faq h2{
    font-size: 48px;
    text-align: center;
}

.faqbox{
    background-color: #272727;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin: 34px auto;
    cursor: pointer;
    width: 60vw;
}

.faqbox:hover{
    background-color: rgb(23, 23, 23);
    transition: all 0.4s;
}

/* footer */


.footer{
    max-width: 60vw;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 25px;
}

.footer .questions{
    pad: 34px 0;
    font-size: 25px;
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.footer-container .footer-item{
    display: flex;
    flex-direction: column;

}

.footer-container .footer-item a{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}



/* responsive tasarım */

@media (max-width: 1000px) {
    .info-area{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    .info-area h1{
        margin: 20px auto;
    }
}

@media (max-width: 800px) {
    .info-area{
        text-align: center;
    }
    .info-area h1{
        font-size: 30px;
        margin-top: 40px;
    }
    .info-area p{
       
        margin-bottom: 20px;
    }
    .secImg{
        position: relative;
        width: 100%;
        overflow-y: auto;
    }

    .secImg img{
        width: 100%;
        height: auto;
    }

    .secImg video{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

@media (max-width: 700px) {
    .secImg{
        width: 100%;
        overflow: hidden;
    }
    .secImg video{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}